/**
 * fil: css/style.css
 **/

/* Reset: Meyer Style */
/* fjerner default browser styles */
@import 'reset.css';

/* Farve- og fontvariabler */
:root {
  /* farver */
  --dark: #190604;
  --white: #ffffff;

  --header: rgb(0, 82, 94);

  /* fonte */
  --overskrift: 'avenir';
  --broedtekst: avenir;

  /* whitespace */
  --whitespace: .5rem;
}

header{
  font-family: var(--overskrift);
  font-size: 2.2em;
  text-align: center;
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
  margin: 0;
}

/* Her bruges en variabel: --blue */
body {
  font-family: var(--broedtekst);
  background-color: var(--white);
  color: var(--dark);
  margin: 0;

}



/* Typografisk */

#overskrift {
  font-family: retiro-std-24pt, sans-serif;
  font-size: 1ch;
  color: white;
padding: 0;
}

p {
  margin-left: var(--whitespace);
  margin-right: var(--whitespace);
  padding-bottom: var(--whitespace);
  font-size: 1em;
  max-width: 35ch;
}


/* Smooth scroll */
html {
  scroll-behavior: smooth;

}

/* Wrap */
#wrap {
  min-height: 100vh;
}

/* Navigation and footer */

#menu {
  font-size: 3vw;
  list-style-type: none;
  padding-top: 70px;
}



/* Dropdown burgermenuen */

.dropdown{
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #FFF;
}

/**
    Hide the checkbox itself. Checking and unchecking
    it we will be done via the label element.
*/

input[type=checkbox]{
    display: none;
}

/* Click to expand button */

label{
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 15px 20px;

    cursor: pointer;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*  The ul will have display:none by default */

ul{
    position: absolute;
    list-style: none;
    text-align: left;
    width: 100%;
    z-index: 1;
    margin:0;
    padding:0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

    display: none;
}

ul li{
    padding: 15px;
    background-color: #fff;
    color: #4FB9A7;
    margin-bottom: 1px;
    cursor: pointer;
}

ul li:hover{
    background-color: #4FB9A7;
    color: #FFF;
}

ul li a{
    color: inherit;
    text-decoration: none;
}

input[type=checkbox]:checked ~ label {
    background-color: #3D88BD;
}

input[type=checkbox]:checked ~ ul {
    display: block;
}

#burger {
  float: left;
  padding-left: 10px;
  font-size: 30px;
  text-decoration: none;
}

#logo {
  width: 1em;
}

/* Navigation and footer */
nav {
  background-color: var(--header);
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: var(--white);
}

nav li {
  list-style-type: none;
  text-decoration: none;
  justify-content: center;
  display: inline
}

/* Footer */
footer {
  width: 100%;
  height: 200px;
  color: var(--white);
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
}



footer div:nth-child(2) {
  text-align: center;
}

<<<<<<< HEAD

=======
footer div:nth-child(3) {
  font-size: 3rem;
  text-align: right;
}
.facebook{
  width: 39px;
  position: absolute;
  top: 950px;
  left: 10px;

}

.insta{
  width: 50px;
  position: absolute;
  top: 946px;
  left: 50px;

}
>>>>>>> 14f590f01906cb4decdb8a108a71e48b7f55c24b

/* Sections (højde == skærmhøjde) */
section {
  background-color: var(--white);
}

/* Billeder */
img {
  width: 100%;
  display: flex;

}


/* MOBILE FIRST (via Flexbox) */
.example {
  padding: 20px;
  color: blue;
}


/* Her begynder de forskellige devices */

/* 1. Mobile enheder */
@media only screen and (max-width: 600px) {
  /* A. Giv baggrunden en farve */
  .example {background: pink;}
   section {font-size: 2em;}

}

/* 2. Tablets */

@media only screen and (min-width: 600px) {
  /* Vælg en anden baggrundsfarve til tablets */
  .example {background: green;}
  /* Flexbox: design efter skitser */

  /* Menu */

  /* 2.A. gør burgeren synlig */

  /* 2.B Skjul menu og burgermenu */

  /* --- Flexbox (responsivt flex) --- */

  /* 2.C. Sæt main til flex, flex-wrap til wrap og gap på 10px */

  /* 2.D Forklaring:

  main > * betyder: for alle "børn" af main { ... css her  ...}
  Se disse tutorials

  @url: https://flexbox-pattern-cheatsheet.kevinpowell.co/
  @url: https://www.w3schools.com/cssref/css3_pr_flex.asp

  Prøv:

  main > * {
    flex: 1 1 32ch;
  }
   */

  /*
  Forkortelsen 'flex' kan sætte flere værdier på en gang.
  Mere om anvendelsen af flex her:
  @url: https://developer.mozilla.org/en-US/docs/Web/CSS/flex

  Fx: Three values: flex-grow | flex-shrink | flex-basis
  flex: 2 2 10%;

  Alternativt bruges box sizing, se
  @url: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
  */

}

/* 3. Stor skærm (slut her) */
@media only screen and (min-width: 768px) {
  /* 3.A.: Giv baggrunden en ny farve, sørg for en god kontrat til tekst. */
.example {background: black;}
  /* 3.B.: Skjul burgeren */

  /* 3.C.: Vis menuen, og gør den horisontal */

  /* 3.D.: #wrap må max fylde 80% og designet skal være centreret  */

  /* 3.E.: Giv fuld bredde til øverste section */

}

@media only screen and (min-width: 992px) {
  /* 3.A.: Giv baggrunden en ny farve, sørg for en god kontrat til tekst. */
.example {background: blue;}
section {font-size: 0.2em;}
  /* 3.B.: Skjul burgeren */

  /* 3.C.: Vis menuen, og gør den horisontal */

  /* 3.D.: #wrap må max fylde 80% og designet skal være centreret  */

  /* 3.E.: Giv fuld bredde til øverste section */

}
