/**
 * fil: css/style.css
 **/

/* Reset: Meyer Style */
/* fjerner default browser styles */
@import 'reset.css';

/* Farve- og fontvariabler */
:root {
  /* farver */
  --dark: #190604;
  --white: #ffffff;
  --baggrundsfarve: rgb(234, 241, 242);
  --header: rgb(0, 82, 94);
  --navbar: #366873;
  --navhover: #7fabab;
  /* fonte */
  --overskrift: 'avenir';
  --broedtekst: 'niveau-grotesk';

  /* whitespace */
  --whitespace: .5rem;
}

header{
  font-family: var(--overskrift);
  text-align: center;
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
  margin: 0;
}

/* Her bruges en variabel: --blue */
body {
  font-family: var(--broedtekst);
  background-color: var(--baggrundsfarve);
  color: var(--dark);
  margin: 0;

}


/* Typografisk */

#overskrift {
  font-family: retiro-std-24pt, sans-serif;
  font-size: 2.4ch;
  color: white;
  padding: 0;
}

h2 {
  font-family: var(--broedtekst);
  text-align: left;
  font-size: 2em;
  padding-left: 1ch;
}

h3 {
  font-family: var(--broedtekst);
  text-align: left;
  font-size: 1.5em;
  padding-left: 64px;
}

p {
  font-family: var(--broedtekst);
  margin-left: var(--whitespace);
  margin-right: var(--whitespace);
  padding-bottom: var(--whitespace);
  font-size: 1.5em;
  /* max-width: 35ch; */
  padding-right: 1.6em;
  text-align: justify;
  hyphens: auto;
  padding-left: 64px;
  margin-left: 0;
  padding-right: 64px;
  margin-right: 0;
}

#undersidebilleder {
  margin-left: 1.6em;
  margin-right: 1.6em;
  max-width: 35ch;
}


/* Smooth scroll */
html {
  scroll-behavior: smooth;

}

/* Wrap */
#wrap {
  min-height: 100vh;
}



/* Dropdown burgermenuen */

.dropdown{
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #FFF;
}

.dropbtn {
  background-color: var(--header);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.burgeroverskrifter {
  font-weight: bold;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #004954;
}

.third-level-menu {
  display: inline-block;
  font-size: 13px;
  padding: 0;
  z-index: 1;
  block-size: auto;
}

#burger {
  font-size: 20px;
  text-decoration: none;
}

#logo {
  width: 2em;
  margin-right: 10px;
  margin-top: 5px;
}

/* Tilmeldingsblanket */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--header);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #006d7d
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #eaf1f2;
  padding: 20px;
  margin: 20px;
}


/* Navigation and footer */
nav {
  background-color: var(--header);
  text-align: center;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: var(--white);
}

nav li {
  list-style-type: none;
  text-decoration: none;
  justify-content: center;
  display: inline
}


/* css specifikt til Om HMT undersiden*/


/* Footer */
footer {
  width: 100%;
  height: 200px;
  color: var(--white);
  background-color: var(--header);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


footer div:nth-child(2) {

  display: flex;
}

.kontakt{
font-size: 2ch;
font-family: niveau-grotesk, sans-serif;
font-weight: 300;
font-style: normal;
padding-left: 1ch;
padding-top: 1ch;
}

.facebook{
width: 2.2ch;
height: 2.2ch;
padding-top: 0.5ch;
padding-left: 0ch;

}

.insta{
  width: 2.2ch;
  height: 2.2ch;
  padding-top: 0.5ch;
  padding-left: 0ch;
}


/* Sections (højde == skærmhøjde) */
section {
  background-color: var(--baggrundsfarve);

}


.column {
  float: left;
  width: 50%;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  }



/* Billeder */
img {
  width: 100%;
  display: flex;

}

a {
    text-decoration: none;
  }

  .dtmenu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* font-size: 20pt; */
    background-color: var(--navbar);
    overflow: hidden;
    padding-left: 120px;
    padding-right: 120px;
  }


  .dtmenu a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .subnav {
    float: left;
    overflow: hidden;
  }

  .subnav .subnavbtn {
    font-size: 28px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dtmenu a:hover, .subnav:hover .subnavbtn {
    background-color: var(--navhover);
  }

  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: var(--navhover);
    width: 100%;
    z-index: 1;
  }

  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;

  }

  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }

  .subnav:hover .subnav-content {
    display: block;
  }



/* Her begynder de forskellige devices */

/* 1. Mobile enheder */
@media only screen and (max-width: 600px) {
  /* A. Giv baggrunden en farve */
  .example {background: pink;}
   section {font-size: 2em;}
  .dtmenu{display: none;}
}


/* 2. Tablets */

@media only screen and (min-width: 600px) {
  /* Vælg en anden baggrundsfarve til tablets */
  .example {background: green;}
  /* Flexbox: design efter skitser */
.dtmenu{display: none;}
  /* Menu */

  /* 2.A. gør burgeren synlig */

  /* 2.B Skjul menu og burgermenu */

  /* --- Flexbox (responsivt flex) --- */

  /* 2.C. Sæt main til flex, flex-wrap til wrap og gap på 10px */

  /* 2.D Forklaring:

  main > * betyder: for alle "børn" af main { ... css her  ...}
  Se disse tutorials

  @url: https://flexbox-pattern-cheatsheet.kevinpowell.co/
  @url: https://www.w3schools.com/cssref/css3_pr_flex.asp

  Prøv:

  main > * {
    flex: 1 1 32ch;
  }
   */

  /*
  Forkortelsen 'flex' kan sætte flere værdier på en gang.
  Mere om anvendelsen af flex her:
  @url: https://developer.mozilla.org/en-US/docs/Web/CSS/flex

  Fx: Three values: flex-grow | flex-shrink | flex-basis
  flex: 2 2 10%;

  Alternativt bruges box sizing, se
  @url: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
  */

}

/* 3. Stor skærm (slut her) */
@media only screen and (min-width: 768px) {
  /* 3.A.: Giv baggrunden en ny farve, sørg for en god kontrat til tekst. */

  /* 3.B.: Skjul burgeren */
  .dropdown { display: none;}

#musical {
  font-weight: bold;
text-decoration: underline;
}

#frivillig {
font-weight: bold;
text-decoration: underline;
}

#omhmt {
  font-weight: bold;
  text-decoration: underline;
}

#events {
  font-weight: bold;
  text-decoration: underline;
}

  #overskrift {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  #undersidebilleder {padding-left: 100px;}

.dtmenu{display: flex;}
#undersidebigphoto  {
  padding: 64px;
}
h2 {
  padding-left: 64px;
}


  /* 3.C.: Vis menuen, og gør den horisontal */

  /* 3.D.: #wrap må max fylde 80% og designet skal være centreret  */

  /* 3.E.: Giv fuld bredde til øverste section */

}

@media only screen and (min-width: 992px) {
  /* 3.A.: Giv baggrunden en ny farve, sørg for en god kontrat til tekst. */
section {font-size: 0.2em;}
#overskrift {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#undersidebigphoto  {
  padding: 20em;
}
h2 {
  padding-left: 64px;
}

@media only screen and (min-width: 1200px){
  section {font-size: 0.2em;}
  #overskrift {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#undersidebigphoto  {
  padding: 20em;
}
h2 {
  padding-left: 64px;
}
